* {
  padding: 0;
  margin: 0;
}
.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #bdc3c7;
}
.app__container {
  background-color: #ecf0f1;
  display: flex;
  height: 90vh;
  width: 90vw;
  margin-top: -10px;
  box-shadow: -1px 0px 10px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 10px -1px rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 5px;
}
